* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.myMarginTop {
	margin-top: 0.5rem;
}

.selectorImg {
	width: auto;
	height: 50px;
	border-radius: 20%;
	border: 4px rgb(143, 178, 143) solid;
}
.selector {
	width: 25%;
	height: 25%;
	background-color: rgb(20, 174, 102);
	border: 4px rgb(192, 238, 192) solid;
	border-radius: 5px;
	text-align: center;
}
.selector:hover {
	background-color: rgb(174, 151, 20);
}
.bgKeyper {
	background-color: rgb(143, 178, 143);
}
.myCursor {
	cursor: pointer;
}
.myCursor:hover {
	border: 5px rgba(99, 88, 238, 1) solid;
}
.myBorder {
	border: 5px solid rgb(4, 57, 16);
}
.home {
	background-color: rgb(209, 222, 209);
}
.myInfoImg {
	width: 100%;
	overflow: hidden;
	background-size: cover;
}
.myInfoImg img {
	width: 100%;
}
.mysize {
	height: 50rem;
}
.welcome {
	background-color: rgb(250, 250, 250);
	width: 15rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	left: 4rem;
	top: 0.8em;
	border-radius: 10px;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: rotate(0deg);
	animation: WelcomeRotate 6s ease-in-out infinite;
}
/*welcome*/
body {
	background: #368dda;
}

.bubble {
	position: relative;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 24px;
	width: 300px;
	background: #fff;
	border-radius: 40px;
	padding: 24px;
	text-align: center;
	color: #000;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: rotate(0deg);
	animation: WelcomeRotate 6s ease-in-out infinite;
}

.bubble-bottom-left:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 24px solid #fff;
	border-right: 12px solid transparent;
	border-top: 12px solid #fff;
	border-bottom: 20px solid transparent;
	left: 32px;
	bottom: -24px;
}
/**/

.myTitle h1 {
	text-wrap: wrap;
}
.buttonAdd {
	padding: 5px;
	margin: auto 5px auto 5px;
	border-radius: 10%;
	color: #fff;
	border: none;
	padding: 8px;
}
.bgKeyperLight {
	opacity: 0.9;
	width: 80%;
	height: 100%;
}
.mybg {
	background-color: #fff;
	opacity: 0.8;
	color: rgb(50, 91, 50);
	font-weight: bolder;
}
.myImg {
	background-image: url("../src/imgRoom/1.jpg");
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10%;
}
.myBg-Keyper {
	background-color: rgb(209, 222, 209);
	height: 100vh;
	width: 100vw;
}
.myWith {
	width: 100%;
}
.myAvatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px rgb(128, 89, 155) solid;
	overflow: hidden;
	background-size: cover;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.myImgAvatar {
	width: 100%;
	height: 100%;
}
.linkhover:hover {
	background-color: rgb(50, 91, 50);
	border-radius: 5px;
}
.delete {
	width: 30px;
	height: 30px;
	text-align: center;
}
.delete:hover {
	background-color: darkgrey;
	border-radius: 5px;
	cursor: pointer;
}
.selectedKeepers {
	width: 18%;
	height: 5%;
	background-color: rgb(128, 89, 155);
	text-align: justify;
	padding: 5px;
	border-radius: 10px;
}

.myk {
	background-color: orange;
	width: 50px;
	height: 50px;
	padding-top: 8px;
	border-radius: 50%;
	text-align: center;
}
.myEyper {
	background-color: orange;
	width: 80px;
	height: 25px;
	position: relative;
	left: -1em;
	top: -0.3em;
}
.keyTooth {
	background-color: orange;
	width: 18px;
	height: 30px;
	position: relative;
	left: -2.6em;
	top: 0.2em;
}

@media screen and (max-width: 600px) {
	.bgKeyperLight {
		width: 100%;
		height: 100%;
		padding-left: 10rem;
	}
}

/*Button*/
.myButton {
	position: relative;
	overflow: hidden;
	height: 3rem;
	padding: 0 2rem;
	border-radius: 1.5rem;
	background: rgb(128, 89, 155);
	background-size: 400%;
	color: #fff;
	border: none;
}

.myButton:hover::before {
	transform: scaleX(1);
}

.myButton-content {
	position: relative;
	z-index: 1;
}

.myButton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(
		82.3deg,
		rgba(150, 93, 233, 1) 10.8%,
		rgba(99, 88, 238, 1) 94.3%
	);
	transition: all 0.475s;
}

.typewriter h1 {
	color: #fff;
	font-family: monospace;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

@media screen and (max-width: 768px) {
	.typewriter,
	.mybg {
		display: none;
	}
	.buttonAdd {
		margin: 5px 0 5px 0;
	}
}
/*spinner*/
.lds-roller {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 3;
	left: 40%;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(174, 0, 255);
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*animation welcome*/
@keyframes WelcomeRotate {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: rotate(-5deg);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: rotate(9deg);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: rotate(-5deg);
	}
}
