.selectorImg {
	width: auto;
	height: 50px;
	border-radius: 20%;
	border: 4px rgb(143, 178, 143) solid;
}
.selector {
	width: 25%;
	height: 25%;
	background-color: rgb(20, 174, 102);
	border: 4px rgb(192, 238, 192) solid;
	border-radius: 5px;
	text-align: center;
}
.selector:hover {
	background-color: rgb(174, 151, 20);
}
.bgKeyper {
	background-color: rgb(143, 178, 143);
}
